.content{
    height: calc(100vh - 159px);
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}


.borderWrapper {
    border-left: 3px solid #f45b69;
}

.leftContent {
    width: 450px;
    margin: 20px;
    padding: 40px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    letter-spacing: 2px;

}

.tittle {
    font-size: 25px;
    font-weight: bold;
}

.info {
    line-height: 1.2;
}

.rightContentWrapper {
    width: 50%;
}


.tittleAboutMe {
    font-weight: 400;
    font-size: 50px;
    color: #f45b69;
    text-align: center;
    border-top: 3px solid #f45b69;
    letter-spacing: 3px;
}

.textAboutMe{
    margin: 0 auto;
    width: 80%;
    color: #fff;
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
    letter-spacing: 3px;
    padding-top: 20px;
    
}

.imgWrapper {
    background-color: #f45b69;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 40px;
}

.img {
    margin-top: 40px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 0 auto;
}

