.contentWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 80%;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    letter-spacing: 3px;
}

.link {
    color: #f45b69;
    text-decoration: none;
    cursor: pointer;
}

.link:hover {
    color: #fff;
}

.title {
    font-weight: 400;
    font-size: 20px;
}

.info {
    font-size: 15px;
    color: #fff;
}

.imgWrapper {
    width: 40%;
    
}

.image {
    display: flex;
    width: fit-content;
    height: fit-content;
}