
.container {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
}

.menuContainer {
    position: fixed;
    margin-top: 10px;
    text-align: right;
}

.sidebarList {
    display: flex;
    flex-direction: row;
    margin: 0;
    list-style: none;
    padding: 10px;
    gap: 10px;

}

.sidebarItemLink {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 3px;
    border-right: 2px solid #f45b69;
    padding-right: 10px;

}

.sidebarItemLink:hover {
    -webkit-text-stroke: 1px #f45b69;
    color: #f45b69;
}