.white {
    color: #fff;
    font-size: 15px;
}

.pink {
    color: #f45b69;
    font-weight: 600;
}

.container {
    background-color: #04303b;
    color: #fff;
    letter-spacing: 3px;
}

.headContainer {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    border-left: 2px solid #f45b69;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.uvuci {
    padding-left: 20px;
}

.bodyContainer{
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    border-left: 2px solid #f45b69;
    padding: 10px;
}

.info {
    font-weight: 400;
    font-size: 15px;
}

.tag {
    font-weight: 400;
    font-size: 15px;
}

.imgWrapper {
    background-color: #f45b69;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    height: 130px;
    width: 75px;
}

.pinkContentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    color: #f45b69;
    background: none;
    border: none;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 3px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
}

.button:hover {
    color: #fff;
}

.icon {
    width: 20px;
    height: 20px;
}