@import "../../colors.scss";

.white {
    color: $white;
    font-size: 15px;
}

.pink {
    color: $pink;
    font-weight: 600;
}

.container {
    color: #fff;
    letter-spacing: 3px;
}

.headContainer {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    border-left: 2px solid $pink;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.uvuci {
    padding-left: 20px;
}

.bodyContainer{
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    border-left: 2px solid $pink;
    padding: 10px;
}

.info {
    font-weight: 400;
    font-size: 15px;
}

.tag {
    font-weight: 400;
    font-size: 15px;
}

.imgWrapper {
    width: 250px;
    height: 250px;
    margin: 10px;
}

.pinkContentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    color: $pink;
    background: none;
    border: none;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 3px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
}

.button:hover {
    color: $white;
}

.icon {
    width: 20px;
    height: 20px;
}