@import "../../colors.scss";

.container {
    height: calc(100vh - 77.5px);
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 10px;
    padding-left: 10px;
    margin: auto 0;
    border-left: 2px solid $pink;

}

.label {
    font-weight: 400;
    font-size: 20px;
    color: $pink;
    letter-spacing: 3px;
}

.input {
    background-color: $green;
    border: 2px solid $white;
    width: 70%;
    color: $white;
    letter-spacing: 3px;
    padding: 5px;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    resize: none;
    outline: none;
}

.inputMessage {
    background-color: $green;
    border: 2px solid $white;
    width: 80%;
    color: $white;
    letter-spacing: 3px;
    font-size: 15px;
    padding: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    height: 200px;
    resize: none;
    outline: none;
}

.buttonWrapper {
    width: 80%;
    display: flex;
    justify-content: right;
}

.button {
    width: fit-content;
    background-color: $green;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    color: $pink;
    letter-spacing: 3px;
}

.button:hover {
    color: $white;
}

.meWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
}

.text {
    color: $white;
    letter-spacing: 3px;
    font-size: 20px;
}

.imgWrapper{
    width: 250px;
    height: 250px;
    margin: 0 auto;
}