.followWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
    align-items: center;
}



.line {
    height: 200px;
    width: 2px;
    background-color: #f45b69;
}



.text {
    transform: rotate(+90deg);
    font-size: 25px;
    letter-spacing: 2px;
    color: #f45b69;
    margin: 0;
    padding: 0;
}

.icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    font-size: 25px;
}

.icon {
    cursor: pointer;
}

.icon:hover {
    color: #fff;
}

.link {
    text-decoration: none;
    color: #f45b69;
}