.container {
    height: calc(100vh - 77.5px);
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.projectsWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-left: 2px solid #f45b69;
    padding-left: 10px;
}
