.container {
    height: calc(100vh - 77.5px);
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.line {
    width: 2px;
    background-color: #f45b69;
    height: 70vh;
    margin: auto 0;
}

.imagesWrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 10px;
}

.firstRowWrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.secondRowWrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.logoWrapper {
    background-color: #fff;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f45b69;
    border-radius: 50%;
}

.image {
    width: 100px;
    height: 100px;
}